*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

.film {
  width: 40%;
  margin: 40px auto;
  border: 1px solid #DDD;
  clear: both;
  height: 320px;
  padding: 15px;
  position: relative;
}

.film-poster {
  float: left;
  width: 35%;
  position: relative;
}

.film-details {
  float: right;
  width: 65%;
  padding-left: 20px;
  overflow: auto;
  max-height: 100%;
}

.film-title {
  margin: 0;
}

.action-watch-later {
  position: absolute;
  right: 2%;
  top: 2%;
  color: red;
}

.action-like {
  color: red;
  position: absolute;
  right: 2%;
  bottom: 2%;
}
